.breadcrumb span {
    color:black;
    margin-right: 10px;
}
.form-content a {
    position: relative;
    top:165px;
    right:66%;
}

@mixin input_width {
    width: 100%;
}

.proposal-content input {
    @include input_width
}
.reviews-content  input{
    @include input_width
}
.panel-content  input {
    @include input_width
}
.fees-content input {
    @include input_width
}
.messages-content input {
    width:135px;
    margin-right:40%;
}

.ui.form .disabled.fields .field,
.ui.form .disabled.field,
.ui.form .field :disabled {
  pointer-events: none;
  opacity: 1;
}
